<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>TUNEHUB</title>
<link rel="stylesheet" th:href="@{/css/style.css}" >
<!-- <style>
body {
  background-image: url('C:\\Users\Pavan Kumar Vollu\Desktop\images_tunehub\tunehub\images\imgg1.jpg');
}
</style> -->
</head>
<body>
  <h1> Hello there. Welcome to TUNE-HUB! </h1>
  <p>!....A Music Streaming App....!</p>
  <br />
  <br />
  <button value="LOGIN"><a href="login">LOGIN</a></button>
  <br />
  <br />
  <button value="REGISTER"><a href="registration">REGISTER</a></button>

  
</body>

</html>
