<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
		height: 90vh;
		background-image: url('https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHBhc3RlbCUyMHdhbGxwYXBlcnxlbnwwfHwwfHx8MA%3D%3D');
    }
</style>
</head>
<body>
    <form action="register" method="post">
		 <h1><i><b>New User Registration </b></i></h1>
         <label>UserName: </label>
         <input type="text" name="username" />
         <br>
         <label>Email: </label>
         <input type="email" name="email" />
         <br>
         <label>Password: </label>
         <input type="password" name="password" />
         <br>
         <label>Gender: </label>
         M<input type="radio" name="gender" value="male" />
         F<input type="radio" name="gender" value="female" />
         O<input type="radio" name="gender" value="other" />
         <br>
         <label>Role: </label>
         Admin<input type="radio" name="role" value="admin" />
         Customer<input type="radio" name="role" value="customer" />
         <br>
         <label>Address: </label>
         <textarea name="address"></textarea>
         <br>
         <input type="submit" />
    
    
    </form>

</body>
</html>